QMainWindow {
    background: #fff;
}

QTabWidget, QTextEdit {
    background: #fff;
}

QTableView {
    border: 0;
}

QGraphicsView {
    background: #000;
}

QTextEdit {
    border: 1px solid #eee;
}

QLineEdit {
    border: 2px solid #DEE1E3;
    outline: none;
    padding: 4px 4px;
    border-radius: 3px;
}

QLineEdit::focus {
    border: 2px solid #3498DB;
    outline: none;
}

QCheckBox {
/*    color: red;*/
}

QTabBar::tab {
    background: #3498DB;
    color: #eee;
    padding: 8px 18px;
}

QTabBar::tab:selected {
    background: #2980b9;
    color: #fff;
}

QPushButton {
    border: 0;
    background: #3498DB;
    color: #ffffff;
    padding: 7px 18px;
    border-radius: 3px;
    font-size: 14pt;
}

QPushButton::hover {
    background: #5DADE2;
}

QPushButton::disabled {
    color: #bdc3c7;
    background: #2980b9;
}

QGroupBox {
/*    border: 0;*/
/*    background: transparent;*/
}
